<h2>Welcome to Bookers!!</h2>
<h4>you can share and exhange your opinions, inpressions, and emotions about various books!</h4>

<li>
  <%= link_to "Log in", new_user_session_path %>
</li>

<li>
  <%= link_to "Sigh_up", new_user_registration_path %>
</li>